h1{
    color: rgb(53, 189, 11);
    text-align: center;
    text-decoration: underline;
}

h2{
    color: goldenrod;
    text-decoration: underline;
    text-transform: capitalize;

}

nav{
    display: flex;
    justify-content: flex-end;
}

nav ol{
}
nav ol li{
list-style-type: none;
display: inline-block;
}
nav ol li a{
    text-decoration: none;
    padding: 30px;

}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* Viewports between 320px and 480px wide */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .card {
      background: #bada55;
    }
  }

iframe{
    display: block;
    margin: auto;
    margin-left: 50vw;
    transform: translate(-50%);
}
